<% @posts.each do |post| %>
  <div class="posts-index-item">
    <div class="post-left">
      <%= image_tag 'sample.jpg', class: 'rounded-circle', size: '50x50' %></td>
    </div>
    <div class="post-right">
      <div class="post-user-name">
    </div>
      <%= link_to '詳細', post_path(post), class: 'nav-link' %>
    </div>
    <div class="posts-show-item">
      <div class="post-user-name">
    </div>
    <p>
      <%= post.content %>
    </p>
    <div class="post-time">
      <%= post.created_at %>
    </div>
  </div>
  </div>
<% end %>

