<tr>
  <td>
    <%= comment.body %>
  </td>
  <td>
    <%= l comment.created_at, format: :long %>
  </td>
  <td>
  <% if current_user.id == comment.user_id%>
    <%= link_to '編集', edit_comment_path(comment) %>
    <%= link_to '削除', comment_path(comment), class: 'nav-link', method: :delete  %>
  <% end %>
  </li>
</tr>
