<div class="container mb-5 pt-2">
  <h1><%= 'タスク一覧' %></h1>
  <div class="row">
    <div class="col-md-12 mb-3">
    <%= link_to '今日の学習目標を作成', new_task_path, class: 'nav-link' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">今日</th>
          <th scope="col">内容</th>
          <th scope="col">日付</th>
          <th scope="col"></th>
        </tr>
      </thead>
    <tbody>
      <% if @tasks.present? %>
        <%= render @tasks %>
      <% else %>
        <%=  '詳細がありません'  %>
      <% end %>
    </tbody>
  </table>
</div>