<h3>相互マッチの詳細相手</h3>
<%= render 'relationships/follow_button', user: @user %>
  <% @user.followers.where.not(id: current_user.id).each do |user| %>
    <p>
      <%= "名前: #{user.full_name}" %>
      <%= link_to "show", user_path(user) %>
    </p>
<% end %>